<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
<div class="container" align="center">
  <h3>Sign Up!</h3>
  <%= form_for @user do |f| %>
    <%= f.label :email %></br>
    <%= f.text_field :email %></br>
    </br>
    <%= f.label :name %></br>
    <%= f.text_field :name %></br>
    </br>
    <%= f.label :pet_count, "How many reptiles do you have?" %></br>
    <%= f.text_field :pet_count %></br>
    </br>
    <%= f.label :password %></br>
    <%= f.text_field :password %></br>
    </br>
    <%= f.submit %>
  <% end %>
</div>
