<h3>Sign Up!</h3>
<%= form_for @user do |f| %>
  <%= f.label :email %></br>
  <%= f.text_field :email %></br>
  </br>
  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  </br>
  <%= f.label :pet_count, "How many reptiles do you have?" %></br>
  <%= f.text_field :pet_count %></br>
  </br>
  <%= f.label :password %></br>
  <%= f.text_field :password %></br>
  </br>
  <%= f.submit %>
<% end %>
