<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
 <div class="container" align="center">
<h1> Welcome, <%= @user.name %>!</h1>

<p>Reptiles Owned: <%= @user.pet_count %></p>
</br>
<p><%= link_to 'See Your Posts', posts_path(@posts) %></p>
<p><%= link_to 'Create a New Post', new_post_path %></p>
<p><%= link_to 'See Your Reptiles', reptiles_path(@reptiles) %></p>
<p><%= link_to 'Create a New Reptile', new_reptile_path %></p>
<p><%= link_to 'Logout', logout_path %></p>
</div>
<div class="col-md-12" align="right">
  <div class="sidebar">
    <% @user.posts.each do |post| %>
      <div><%= post.title %></div>
      <div><%= post.content %></div>
    <% end %>
  </div>
</div>
