<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
<div class="container" align="center">
<div>
<h3>Make some Changes to your Reptile</h3>
<%= form_for @reptile do |f| %>
  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  </br>
  <%= f.label :age %></br>
  <%= f.text_field :age %></br>
  </br>
  <%= f.label :species %></br>
  <%= f.text_field :species %></br>
  </br>
  <%= f.label :offspring, "Number of Offspring" %></br>
  <%= f.text_field :offspring %></br>
  </br>
  <%= f.submit %>
<% end %>
</div>
