<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
<div class="container" align="center">
<div>
  <h4>Filter Reptiles</h4>
  <%= form_tag("/reptiles", method: "get") do %>
    <%= select_tag "species", options_from_collection_for_select(Reptile.all, "id", "species"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<h2>Your Reptiles</h2>
</br>
<% @reptiles.each do |reptile| %>
  <div><%= reptile.name %></div>
  <div><%= reptile.age %></div>
  <div><%= reptile.species %></div>
  <div><%= reptile.offspring %></div>
  </br>
<% end %>
</div>
