<h3>Create Your Reptile</h3>
<%=form_for @reptile do |f| %>
  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  <%= f.label :species %>
  <%= f.text_field :species %></br>
  <%= f.label :age %></br>
  <%= f.text_field :age %></br>
  <%= f.label :offspring, "Number of Offspring" %></br>
  <%= f.text_field :offspring %></br>
  </br>
  <%= f.submit, "Create"%>
<% end %>
