<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
<div class="container" align="center">
  <% if @reptile.errors.any? %>
  <div id="error_explanation">
    <h2>
      Oops! Please fix the following errors:
    </h2>

    <ul>
    <% @reptile.errors.full_messages.each do |msg| %>
      <%= msg %></br>
    <% end %>
    </ul>
  </div>
<% end %>
<h3>Create Your Reptile</h3>
<%= form_for @reptile do |f| %>
  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  </br>
  <%= f.label :age %></br>
  <%= f.text_field :age %></br>
  </br>
  <%= f.label :species %></br>
  <%= f.text_field :species %></br>
  </br>
  <%= f.label :offspring, "Number of Offspring" %></br>
  <%= f.text_field :offspring %></br>
  </br>
  <%= f.submit %>
<% end %>
</div>
